*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.transparent {
  background-image: url(/assets/images/paper-background.jpg);
  background-size: cover;
  position: fixed;
  opacity: 0.4;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1.main-text {
  width: 520px;
  font-family: 'VT323';
  font-size: 90px;
  margin-top: 37px;
  margin-bottom: 5px;
}

.subtext {
  font-size: 49px;
  font-family: 'Share Tech Mono';
  font-weight: 100;
}

h3.subtext {
  width: 520px;
  margin-top: 0;
  font-size: 1em;
}

.selection-text {
  font-size: 21px;
  font-family: 'Share Tech Mono';
  font-weight: 400;
  margin-left: 3px;
  padding-left: 9px;
}

.content-container {
  width: 1500px;
  height: 700px;
  margin: auto;
  /*border: 2px dashed blue;*/
}

.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  margin: auto;
  width: 1000px;
  height: 500px;
  border: 4px solid rgba(157, 157, 157, 0.2);
  background-color: white !important;
}

.pixel {
  background-color: white;
  width: 1em;
  height: 1em;
  border: .01em solid rgba(157, 157, 157, 0.2);
  /*border-radius: 50%;*/
}

.color-palette {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /*border: 4px solid black;*/
  width: 1000px;
  height: 50px;
  margin-top: 20px;
}

.color-select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.color {
  width: 40px;
  height: 40px;
  border: .02em solid grey;
  border-radius: 50%;
  margin: 5px;
}

#custom-color {
  border-radius: 22%;
}

#customSelection {
  align-self: flex-end;
}

.color-indicator {
  display: flex;
}

.current-color {
  order: 2;
  width: 40px;
  height: 40px;
  border: .02em solid grey;
  border-radius: 50%;
  margin-left: 10px;
  /*background-color: black;*/
  align-self: center;
}


/*COLORS*/

#red {
  background-color: #FF4136;
}

#fuchsia {
  background-color: #F012BE;
}

#maroon {
  background-color: #85144b;
}

#purple {
  background-color: #B10DC9;
}

#orange {
  background-color: #FF851B;
}

#yellow {
  background-color: #FFDC00;
}

#green {
  background-color: #2ECC40;
}

#lime {
  background-color: #01FF70;
}

#olive {
  background-color: #3D9970;
}

#blue {
  background-color: #0074D9;
}

#navy {
  background-color: #001f3f;
}

#aqua {
  background-color: #7FDBFF;
}

#grey {
  background-color: #AAAAAA;
}

#silver {
  background-color: #DDDDDD;
}

#black {
  background-color: #111111;
}

#white {
  background-color: #FFFFFF
}

#custom-color {}
